### input methods and output method
- rerading data or information from the user---***input()***
    - static input
     - dynamical input
- diplaying the information

a=20
b=30
print(A)
print(b)

In [1]:
a=input()
a

132

'132'

a=input("enter user value")
a

In [7]:
a=float(input("enter user value"))
a

enter user value123

123.0

In [2]:
a=input("enter value")
print(a)

enter value456
456

In [3]:
a=20
b=40
c=50
print(a,b,c)

20 40 50

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [5]:
a=20
b=40
c=50
print(a,b,c,sep=",")

20,40,50

In [6]:
a=20
b=40
c=50
print(a,b,c)
print(c)

20 40 50
50

In [7]:
# generate the three values from the user,that values seperated with $ and end with %
a=input("enter 1st value")
b=input("enter 2nd value")
c=input("enter 3rd value")
print(a,b,c,sep="$,",end="%")

enter 1st value10
enter 2nd value20
enter 3rd value30
10$,20$,30%

### operators
- arithematic operators(+,-,**,/.//.%)
  - output for the normal division is quotient
  - output for the int division or floor division is integer part of the quotient
  - output for the modulo divison is remainder
- assignment operators(=)
- comparison operators(<,>,<=,>=,==)
- logical operators(and,or,not)
- bitwise operators(&,|,^)
- identity operators(is(==),isnot(!=))
- membership operators(in,notin)

### arithematic operators

In [9]:
a=44
b=45
print("addition",a+b)
print("substraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or floor division",a//b)
print("modulo division",a%b)

addition 89
substraction -1
multiplication 1980
power 90234048236666842360389046803584545561391912806906732080976346512332161024
division 0.9777777777777777
int division or floor division 0
modulo division 44

### assignment operator

- it represented with=
- leftside value of the operator(=)is called as varaible
- rightside value of the variable(=)is called as value

In [15]:
a=20
b=44
print(a)
print(b)

20
44

### comparison operator

In [17]:
2>8

False

In [18]:
6<1

False

### logical operators

- and,or,not
- if all the inputs are true the output is true(and).
- if any one of the input is true the outputs is true(or).
- opposite operation for the given one.

In [20]:
2<5 and 3>6

False

In [21]:
2>5 and 3<6

False

In [22]:
2>1 and 2<4

True

In [23]:
a=100
not a

False

In [24]:
6<8 and 8>2

True

### BITWISE OPRATORS

In [25]:
2&3
# 2- 0 0 1 0
# 3- 0 0 1 1
#----------
#  -0 0 1 0

2

In [26]:
3|4

7

In [27]:
2<<3

16

In [28]:
2>>4

0

### IDENTITY OPERATOR

In [29]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Online\AppData\Local\Temp/ipykernel_2892/1988167162.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\Online\AppData\Local\Temp/ipykernel_2892/1988167162.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [30]:
a==100 and a!=100

False

### MEMBERSHIP OPERATOR

In [32]:
s=[1,2,3,4,5,6]
a in s

False

In [33]:
10 not in s

True

In [34]:
8 not in s

True

In [35]:
3 in s

True

In [36]:
a=20
a=a+1
a

21

In [39]:
    a=24
    a+=1
   ##a+=1----->a=a+1
   ##a-=1----->a=a-1
   ##a*=1----->a=a*1
   ##a/=1----->a=a/1

In [38]:
a

25

### flowcontrol
- conditional statements(if,else,elseif,nestedif)
- loops(for,while)
- break,Return

In [41]:
# c-language
if(condition){
     print(a)
}

SyntaxError: invalid syntax (Temp/ipykernel_2892/3119786273.py, line 2)

### condition statements

IndentationError: expected an indented block (Temp/ipykernel_2892/695466087.py, line 1)

In [43]:
#if  statement1
    statement2
  (condition):
    statement3
    ----------
    statementn

SyntaxError: invalid syntax (Temp/ipykernel_2892/367407120.py, line 5)

In [ ]:
#if-else
if (condition):
    statement1
    statement2
    statement3
    ---------
    statementn
else:
    statement1
    statement2
    ----------
    statementn

In [45]:
if 2>3:
    print("True")
else:
    print("false")

false

In [46]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number12
even number

In [47]:
#given number is zero or positive or negative
n=int(input("enter the number"))
if(n==0):
    print("zero")
elif(n>0):
    print("positive")
else:    
    print("negative")

enter the number45
positive

In [49]:
# number is divisble by 2 but not divisble by 10
a=23
if a%2==0 and a%10!=0:
    print("valid number")
else:
    print("invalid number")

invalid number

### range
- syntax for the range is range(start,endvalue,step value)
- starting value is inclusive and end value is exclusive

In [ ]:
range(start,end,step)

In [ ]:
range(10,20,30)
# 10,20,30,40,50,60,70,80
range(20,30,40)
#20,23,24,25,26,27
range(20,30,40)
#20,21,22,28,29
range(50)
# consider as start value and end value
#reverseprint
range(10,1,-1)

In [51]:
list(range(10,20,30))

[10]

In [52]:
list(range(20,30,40))

[20]

In [53]:
list(range(20,30,40))

[20]

In [54]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [55]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### LOOPS
-for,while
- for loop::A for loop in python is a control flow statement that is used to repeatedly execute a group of statements as long as the condition is satisified.such a type of statement is known as a iterative statement.therefore,a for loop is an itterative statement

In [ ]:
for iter in iterable: #range predefined function in the position of iterable
    statement1
    statement2
    statementn

In [57]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [58]:
for i in range(0,11,2):
    print(i,end=",")

0,2,4,6,8,10,

In [60]:
for i in range(0,11,2):
    print(i,end="")

0246810

In [62]:
for i in range(5):
    print(i)

0
1
2
3
4

In [74]:
# print the even numbers in the range of 0 to 100 and print even number count
c=0
for i in range(0,102,2):
    c=c+1 
    print(i,end=" ")
print("\n even number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 even number count: 51

In [72]:
# print the even numbers in the range of 0 to 100 and print even number count
c=0
for i in range(0,101):
    if i%2==0:c=c+1
    print(i,end=" ")
print("\n even number count:",c)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
 even number count: 51

In [70]:
# print leap years from the range of2000 to 2020
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if(i%400==0) and (i%100!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
print("\nyears count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
years count: 6

In [77]:
n=5
for i in range(1,11):
    print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [3]:
# print factors of 5
n=int(input())
for i in range(1,n+1):
    if n%i==0:
        print(i)

5
1
5

In [8]:
# I/P=aba
# 97+98+97=292
# o/p 292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

nitish
655

### prime number or not

In [9]:
n=int(input())
c=0
for i in range(1,n+1):
    if n%i==0:
        c=c+1
if(c==2):
    print("prime number")
else:
    print("not prime number")

6
not prime number

In [5]:
n=int(input("enter the number"))
print("even numbers are")
for i in range(n+1):
    if (i%2==0):
        print(i)
print("odd numbers")
for i in range(n+1):
    if(i%2!=0):
        print(i,end=" ")

enter the number10
even numbers are
0
2
4
6
8
10
odd numbers
1 3 5 7 9